<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>base</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul>
          <li><a href="{% url 'index' %}" class="navbar-brand">Home</a></li>
          <li><a href="{% url 'temp_app:other' %}" class="navbar-link">Other</a></li>
          <li><a href="{% url 'admin:index' %}" class="navbar-link">Admin</a></li>
        </ul>
      </div>
      <div class="container">
        {% block body_block %}
        {% endblock %}
      </div>

    </nav>
  </body>
</html>
